.projects--container{
    padding: 80px 0;
}

.projects--grid{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.projects--title{
    text-align: center;
    margin-bottom: 20px;
    color: var(--primary);
}