.contact--container{
    background-color: var(--primary);
    color: var(--white);
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    .contact--header{
    text-align: center;
    }
    
    .contact--title{
    text-align: center;
    font-size: 50px;
    margin-bottom: 60px;
    }